<!DOCTYPE html>
<html>
  <head>
    <title>
      Passport Login
      <link rel-"stylesheets" href="/stylesheets/style.css"
    </title>
  </head>
  <body>
    {{{messages}}}
    {{ #if errors }}
      {{#each errors }}
        {{msg}}
      {{/each}}
    {{/if}}
    {{{body}}}
  </body>
</html>
